<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Lançamentos</title>
<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

	<div class="container">
	<h1>Lançamentos</h1>
		<div id="Lançamentos">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>tipo</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tr th:each="item : ${items}">
					<td><span th:text="${item.name}"></span></td>
					<td><span th:text="${item.type.type}"></span></td>
					<td><span th:text="${item.value}"></span></td>
				</tr>

			</table>
		</div>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>